<!--
 
  *  Copyright (c) Ministério da Agricultura, Pecuária e Abastecimento.
  *
  * Este software é confidencial e propriedade do Ministério da Agricultura, Pecuária e Abastecimento.
  * Não é permitida sua distribuição ou divulgação do seu conteúdo sem
  * expressa autorização do MAPA.
  * Este arquivo contém informações proprietárias.
  
-->
<!--  Arquivo de configurações pessoais do Maven  -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!-- 
	
	      A variável de ambiente abaixo funciona apenas no Windows  
		  
	-->
	<localRepository>${env.USERPROFILE}/.m2/repository-maven.mapa-nexus</localRepository>
	<!--  Repositórios  -->
	<!--  ============  -->
	<profiles>
		<profile>
				<id>desenvolvimento</id>
				<activation>
					<activeByDefault>true</activeByDefault>
				</activation>
				<repositories>
						<repository>
								<id>mapa-snapshots</id>
								<url>http://ci.agricultura.gov.br/nexus/repository/maven-snapshots/</url>
								<releases>
										<enabled>false</enabled>
								</releases>
								<snapshots>
										<enabled>true</enabled>
								</snapshots>
						</repository>
				</repositories>
		</profile>
		
	  <profile>
		<id>ossrh</id>
		<properties>
			<gpg.passphrase>3E9DF020C03604EF</gpg.passphrase>
		</properties>
	  </profile>
  
		
		
	</profiles>

	<!--  Mirrors  -->
	<!--  =======  -->
	<mirrors>
		<mirror>
			<id>maven-mapa</id>
			<name>Repositórios do mapa agrupando todos os repositórios internos e externos (tanto de releases, quanto de snapshots)</name>
			<url>http://ci.agricultura.gov.br/nexus/repository/maven-mapa/</url>
			<mirrorOf>external:*</mirrorOf>
		</mirror>
	</mirrors>
	

	<servers>
		<server>
			<id>ossrh</id>
			<username>7wsNmeSd</username>
			<password>LbUkggtBQl94lZKxOue8i7WHGZl+MgBLfE1/PiUMrbgl</password>
		</server>
  </servers>
  
   	
</settings>